.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:center;

    align-items:center;

}

.modal{

    width:650px;

    background:white;

    border-radius:14px;

    overflow:hidden;

}

.modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    border-bottom:1px solid #eee;

}

.modal-header button{

    border:none;

    background:none;

    cursor:pointer;

    font-size:18px;

}

.modal-body{

    padding:25px;

}