.table{

    width:100%;

    border-collapse:collapse;

    background:white;

    border-radius:12px;

    overflow:hidden;

}

.table th{

    background:#f8fafc;

    text-align:left;

    padding:15px;

    font-weight:600;

}

.table td{

    padding:15px;

    border-top:1px solid #e2e8f0;

}

.table tr:hover{

    background:#f8fafc;

}